<section id="activity" class="g688">
  <ol id="events">
    <!-- filled by mustache -->
  </ol>
</section>

<section id="activity-preview" class="g1204">
  <!-- preview of the top-most event -->
</section>

<!-- tweets -->
<script id="mus-event-tweet" type="text/x-mustache">
  {{#data}}
  <li class="event tweet">
    <p class="content"><span class="user">{{from_user}}</span>:  {{&text2}}</p>
  </li>
  {{/data}}
</script>


<div id="tweets">
</div>
<script src="http://scripts.embed.ly/jquery.embedly.min.js"></script>
<script>

  $(document).ready(function(){

    var displayTweets = function(data) {
      //console.log(data)
      if (data){
        data.forEach(function(r){
          
          //r.user_name = r.user.screen_name
          if (r.text) {
            r.text2 = twitterlib.expandLinks(r)
            r.text2 = twitterlib.ify.link(r.text2)
            //r.text2 = twitterlib.ify.at(r.text2)
            //r.text2 = twitterlib.ify.hash(r.text2)
          }
          if (r.user){
            r.from_user = r.user.screen_name
          }
        })
      }
      console.log(data)
      var html = pie.mtoHtml("#mus-event-tweet", {data:data});
      //console.log(html)
      $("#events").html(html)
      // be careful with this, we are limited/month
      // we should re-issue the key, move the key to the development.json file.
      $('#events').embedly({key: "2046ddd0c25a4da59c0ae73d3d5c4d11"});
    }
    var fetchInitialActivity = function(){
      $.ajax({
        url: "/api/tweets",
        dataType: 'json',
        success: function(data){
          displayTweets(data)
        }
      });
    }

    /**
     *  Plugin for tweet updates
    */
    pie.addPlugin("tweet", function(data) {
      //TODO:   visual effects for new tweets?
      // TODO, only template new tweets
      displayTweets(data.data)
    })

    try{Typekit.load({
      active: fetchInitialActivity
    });}catch(e){}
  })


</script>