<!-- tweets-->
<script id="mus_tweets" type="text/x-mustache">

  {{#results}}
  <div id="" class="s-thumbnail" >
    {{&text2}}
  </div>
  {{/results}}

</script>


<div id="tweets">
</div>
<script>
  $(document).ready(function(){
    $.ajax({
      url: "/api/tweets",
      dataType: 'json',
      success: function(data){
        console.log(data)
        if (data.results){
          data.results.forEach(function(r){
            if (r.text) {
              r.text2 = twitterlib.expandLinks(r)
              r.text2 = twitterlib.ify.link(r.text2)
              r.text2 = twitterlib.ify.at(r.text2)
              r.text2 = twitterlib.ify.hash(r.text2)
            }
          })
        }
        var html = pie.mtoHtml("#mus_tweets", data);
        console.log(html)
        $("#tweets").html(html)
      }
    });
  })
</script>