<!-- different sections, css determines layout -->

<div id="tbd"></div>
<div id="countdown"></div>
<div id="schedule"></div>

<script>
  $(document).ready(function(){

    // a CountDown function to calculate days, hours, minutes, seconds remaining
    var makeCountDown = function(countDownDate, cb) {
      var data = {days:0,hours:0,minutes:0,seconds:0}
      , epochDate = new Date(countDownDate)
      , epoch = epochDate.getTime()

      return function() {
        var today  = new Date()
          , todayEpoch  = today.getTime()
          , sd = (epoch - todayEpoch) / 1000

        data.days = Math.floor(sd / (60*60*24) )
        data.hours = Math.floor((sd / (60*60)) - (data.days * 24) )
        data.minutes = Math.floor( ( sd / 60) - (data.days * 24 * 60) - (data.hours * 60))
        data.seconds = Math.floor(sd - (data.days * 24 * 60 * 60) - (data.hours * 60 * 60) - (data.minutes * 60))

        cb(data)
      }
    }
    
    setInterval(makeCountDown("5 October, 2012",function(data){
      var html = pie.mtoHtml("#mus_schedule", data)
      $("#countdown").html(html)
    }),1000);
  })
</script>

<script id="mus_schedule" type="text/x-mustache">

  <span id="days">D:{{days}}</span>
  <span id="hours">H:{{hours}}</span>
  <span id="minutes">M:{{minutes}}</span>
  <span id="seconds">S:{{seconds}}</span>

</script>
